html{
    background-color: rgb(34, 34, 34);
    font-family: 'Times New Roman', Times, serif;
}

section{
    background-color: rgb(155, 155, 155);
}
footer{
    background-color:rgb(99, 99, 99)
}

.header{
    background-color: rgb(58, 52, 52);
    width: 100%;
    height: 50px;
}
#Menu{
    line-height:60px;
}
#Menu li{
    float:left;
    margin: 5px 10px 5px 10px;
    font-size: 24px;
}
ul{
    list-style-type: none;
}

.poster{
    margin: auto;
    font-size: 20px;
    text-align: center;
}

header #form-search {
    float: right;
    width: 16%;
    text-align: right;
    margin: 13px 0;
    padding: 5px;
    border: 1px solid #fff;
    
}
